@import '../component/grid';
.delete{
  cursor:pointer;
  @include mobile461(){
    // width: 20px;
  }
}
.cartNum{
  width: 140px;
  @include mobile461(){
    width: 200px;
  }
}
.thumbnail,
.unit,
.numberBox{
  @include mobile461(){
    display: none;
  }
}
.emptyCarts{
  padding: 150px 0;
}
.totalAmount,
.cartTableTitle{
  background-color: #e5e1e1;
}
.totalAmount p{
  margin-bottom: 0;
}
