.delete{
  cursor:pointer;
}
.cartNum{
  width: 150px;
  // @include mobile461(){
  //   width: 200px;
  // }
}
.thumbnail img{
  width: 30px; 
  height: 30px; 
  border-radius: 5px;
}
.thumbnail,
.unit,
.numberBox{
  @include mobile576(){
    display: none;
  }
}
.emptyCarts{
  padding: 150px 0;
}
.totalAmount,
.cartTableTitle{
  background-color: #e5e1e1;
}
.totalAmount p{
  margin-bottom: 0;
}
