@import '../component/grid';

.bannerSuccess{
  position: relative;
  background-image: url('~@/../public/static/img/sucess.jpg');
  height: 500px;
}
.bannerSuccessText{
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 40%;
  background-color: #e0e0e0b9;
  border-radius: 10px;
  @include mobile461(){
    width: 60%;
  }
  @include mobile376(){
    width: 80%;
  }
}