.banner{
  background-image: url('~@/../public/static/img/bannerIndex.jpg');
  height: 380px;
  position: relative;
}
.bannerDecoration{
  position: absolute;
  right: 5%;
  top: 20%;
}
.cardImg{
  height: 200px;
  position: relative;
}
.wall{
  overflow: hidden;
}
.wallFlowerImg{
  background-image: url('~@/../public/static/img/wallFlower.jpg');
  height: 347px;
  position: relative;
}
.wallSkyImg{
  background-image: url('~@/../public/static/img/wallSky.jpg');
  height: 347px;
  position: relative;
}
.wallFlowerTitle{
  color: #ea68a2;
  font-size: 28px;
  display: inline-block;
}
.wallFlowerText{
  font-size: 20px;
  line-height: 36px;
}
.wallSkyTitle{
  font-size: 28px;
}
.wallSkyText{
  font-size: 20px;
  line-height: 36px;
}
.customer{
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.customerName{
  font-size: 18px;
}
.customerText{
  line-height: 20px;
}
.wallLinesUp{
  border:1px solid rgba(255, 255, 255, 0.616);
  width: 94%;
  height: 94%;
  position: absolute;
  left: 3%;
  top: 3%;
}
.wallLinesDown{
  border:1px solid rgba(255, 255, 255, 0.616);
  width: 96%;
  height: 92%;
  position: absolute;
  left: 2%;
  top: 4%;
}


//動畫
.wallFlower{
  animation: bounceInLeft 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.wallSky{
  animation: bounceInRight 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-1000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  100% {
    transform: none;
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translate3d(1000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    transform: none;
  }
}
