.p-banner-img{
    background-image: url('~@/../static/img/bannerProducts.jpg');
    height: 380px;
}
.category{
    position: absolute;
    top: 10px;
    right: 10px;
}
.productsContent{
    position: relative;
}
.p-icon{
    width: 16px;
}
.p-card-img{
    min-height: 210px;
}