@import '../component/grid';
.body{
    font-family: 'Noto Sans TC', sans-serif;
}
.sidebarLogo{
    font-size: 30px;
    @include pad(){
        font-size: 22px;
    }
}
.sidebar li{
    margin-left: 40px;
}
.tenderText{
    font-size: 36px;
    margin: auto;
    @include mobile576(){
        font-size: 28px;
    }
}
.message{
    @include mobile376(){
        font-size: 16px;
    }
}
.sign{
    font-size: 12px;
    margin: auto;
}
