.body{
    font-family: 'Noto Sans TC', sans-serif;
}
.logoTop{
    font-size: 30px;
}
.sidebar li{
    margin-left: 40px;
}
.tenderText{
    font-size: 36px;
    margin: auto;
}
.sign{
    font-size: 12px;
    margin: auto;
}