@import '../component/grid';

.fixedTop{
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0px 1px 10px rgb(245, 239, 239);
}
.nav-item .routerLink{
  text-decoration: none;
}
.sidebarLogo h1{
  margin-bottom: 0;
}